{% extends 'master_template.html' %}
{% load static %}

{% block slider %}
{% endblock %}


<div id="tooplate_menu">
    {% block menu %}
    <ul>
        <li><a href="/adminhome/" class="current">
            Home</a></li>
    
        <li><a href="/adminhome/addcourse/">
          Add Course</a></li>
            <li><a href="/adminhome/studentlist/">
             student List </a></li>
            
                <li><a href="/adminhome/courselist1/">
                    Course List </a></li>
                 
                        <li><a href="/adminhome/batchentry1/">
                            Add Batch </a></li>
                            
                                <li><a href="/adminhome/admissionstatus/" class="current">
                                    Admission Status </a></li>
                                    
                                        <li><a href="/adminhome/logout1/">
                                           Logout </a></li>
</ul>
{% endblock %}
</div>

{% block content %}
<div id="tooplate_main_top"></div>        
<div id="tooplate_main">
    <div class="col_w900">
              <div class="col_allw280 fp_service_box">
        <div class="cleaner"></div>
    </div>
</div>
<div class="col_w900 col_w900_last">
<div class="col_w580 float_l"
style="height:350px">
<div class="con_tit_01" >
<span>{{ msg }}</span>    
<br>
<span>Course Entry Form</span>
<form method="post" 
enctype="multipart/form-data">
    {% csrf_token %}
<table border="1">
<tr>
    <td>Course Name*</td>
<td>
    <input type="text" name="nm"
    required>
</td>    
</tr>
<tr>
    <td>Duration*</td>
<td>
    <input type="text" name="duration"
    required>
</td>    
</tr>
<tr>
    <td>Fees*</td>
<td>
    <input type="text" name="fees"
    required>
</td>    
</tr>
<tr>
    <td>Course Img*</td>
<td>
    <input type="file" name="courseicon"
    required>
</td>    
</tr>
<tr>
    <td>Course Detail*</td>
<td>
    <textarea name="coursedetails"
    rows="5" cols="25">        
    </textarea>
</td>    
</tr>

<tr>
    <td colspan="2" align="center">
<input type="submit" value="save">
    </td>
</tr>
</table>
<span style="color: red;">{{ msg }}</span>
</form>


</div>

<div class="cleaner"></div>
       </div>
        </div>
    <div class="cleaner"></div>
</div> <!-- end of main -->
{% endblock %}